.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; /* Adjust margin bottom as needed */
}

.title {
  margin-bottom: 20px; /* Adjust margin bottom as needed */
  text-align: center;
}

.contentContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px; /* Adjust margin top as needed */
  padding: 10px; /* Add padding to the content container */
}

.content {
  max-width: 50%; /* Adjust max-width as needed */
  margin: 10px; /* Add margin to the text container */
}

.imageContainer {
  max-width: 80%; /* Adjust max-width as needed */
  margin: 10px;
  height: 100%; /* Add margin to the image container */
  padding: 10px; /* Add padding to the image container */
}

.image {
  max-width: 100%;
  height: auto;
  width: 100%;
  border-radius: 5px; /* Adjust border radius as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adjust box shadow as needed */
  transition: transform 0.3s ease-in-out;
}

.image:hover {
  transform: scale(1.05);
}